<!-- Import packages -->

## Install and import

Install packages

In [1]:
pip install -r Requirements.txt

Requirement already satisfied: numpy in /home/daviid/miniconda3/envs/dtsc691/lib/python3.9/site-packages (from -r Requirements.txt (line 1)) (2.0.2)
Requirement already satisfied: pandas in /home/daviid/miniconda3/envs/dtsc691/lib/python3.9/site-packages (from -r Requirements.txt (line 2)) (2.2.3)
Requirement already satisfied: scikit-learn in /home/daviid/miniconda3/envs/dtsc691/lib/python3.9/site-packages (from -r Requirements.txt (line 3)) (1.6.1)
Requirement already satisfied: matplotlib in /home/daviid/miniconda3/envs/dtsc691/lib/python3.9/site-packages (from -r Requirements.txt (line 4)) (3.9.4)
Requirement already satisfied: requests in /home/daviid/miniconda3/envs/dtsc691/lib/python3.9/site-packages (from -r Requirements.txt (line 5)) (2.32.3)
Requirement already satisfied: datetime in /home/daviid/miniconda3/envs/dtsc691/lib/python3.9/site-packages (from -r Requirements.txt (line 6)) (5.5)
Requirement already satisfied: bs4 in /home/daviid/miniconda3/envs/dtsc691/lib/python3.9/site-packages (from -r Requirements.txt (line 7)) (0.0.2)
ERROR: Could not find a version that satisfies the requirement mdfile (from versions: none)
ERROR: No matching distribution found for mdfile
Note: you may need to restart the kernel to use updated packages.

Import libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt
import json
import datetime as dt
import requests
import os
import glob

## S&P500 data

Create a date range

In [3]:
end_date = dt.datetime.now()
start_date = dt.datetime(1900, 1, 1)

Pull S&P500 data using API from rapidapi.com

In [4]:
url = "https://s-p-500-history-api.p.rapidapi.com/historical-stock-data.php"

querystring = {"interval":"day","symbol":"^GSPC","start":start_date,"end":end_date}

headers = {
	"x-rapidapi-key": "1818711435msh7ff1e71cfe61ec4p1b64e1jsn32c289b7a487",
	"x-rapidapi-host": "s-p-500-history-api.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

Extract data from json file

In [5]:
response_json = json.loads(response.text)
sp = pd.DataFrame(response_json['data'])
sp.head()

,date_time,timestamp,high,low,close,open,volume,adjusted_close
0,"December 30, 1927, 2:30 PM UTC",-1325583000,17.660000,17.660000,17.660000,17.660000,0,17.660000
1,"January 3, 1928, 2:30 PM UTC",-1325237400,17.760000,17.760000,17.760000,17.760000,0,17.760000
2,"January 4, 1928, 2:30 PM UTC",-1325151000,17.719999,17.719999,17.719999,17.719999,0,17.719999
3,"January 5, 1928, 2:30 PM UTC",-1325064600,17.549999,17.549999,17.549999,17.549999,0,17.549999
4,"January 6, 1928, 2:30 PM UTC",-1324978200,17.660000,17.660000,17.660000,17.660000,0,17.660000

Some of the data is missing the data from the 'volume' column. I will drop these rows.

In [6]:
sp = sp[sp['volume']!=0]
sp = sp.reset_index(drop=True)
sp

,date_time,timestamp,high,low,close,open,volume,adjusted_close
0,"January 3, 1950, 2:30 PM UTC",-630927000,16.660000,16.660000,16.660000,16.660000,1260000,16.660000
1,"January 4, 1950, 2:30 PM UTC",-630840600,16.850000,16.850000,16.850000,16.850000,1890000,16.850000
2,"January 5, 1950, 2:30 PM UTC",-630754200,16.930000,16.930000,16.930000,16.930000,2550000,16.930000
3,"January 6, 1950, 2:30 PM UTC",-630667800,16.980000,16.980000,16.980000,16.980000,2010000,16.980000
4,"January 9, 1950, 2:30 PM UTC",-630408600,17.080000,17.080000,17.080000,17.080000,2520000,17.080000
...,...,...,...,...,...,...,...,...
18928,"March 27, 2025, 1:30 PM UTC",1743082200,5732.279785,5670.939941,5693.310059,5695.640137,4403460000,5693.310059
18929,"March 28, 2025, 1:30 PM UTC",1743168600,5685.890137,5572.419922,5580.939941,5679.200195,4513330000,5580.939941
18930,"March 31, 2025, 1:30 PM UTC",1743427800,5627.560059,5488.729980,5611.850098,5527.910156,5257250000,5611.850098
18931,"April 1, 2025, 1:30 PM UTC",1743514200,5650.569824,5558.520020,5633.069824,5597.529785,4434500000,5633.069824
18932,"April 2, 2025, 8:56 PM UTC",1743627389,5695.310059,5571.479980,5670.970215,5580.759766,2742941000,5670.970215

Drop 'timestamp' and 'adjusted close' columns

In [7]:
sp.drop(columns=['timestamp','adjusted_close'], inplace=True, axis=1)

In [8]:
# Below is attempt at using FRED website API to pull data. I'm going to use batch downloads instead, but keeping this code in case that changes.

In [9]:
# URL_BASE = 'https://api.stlouisfed.org/'
# ENDPOINT = 'fred/series/observations'

# URL = URL_BASE + ENDPOINT

# API_KEY = '9de274aca217f6c8787ddb88fbcf323c'
# INDICATORS = 'T10Y2Y'

# params = {
#     'api_key': API_KEY,
#     'series_id': INDICATOR,
#     'file_type': 'json',
#     'observation_start': start_date,
#     'observation_end': end_date
# }

# requests = requests.get(URL, params=params)
# data = res.json()
# data = data['observations']

In [10]:
# URL_BASE = 'https://api.stlouisfed.org/'
# ENDPOINT = 'fred/series/observations'

# URL = URL_BASE + ENDPOINT

# API_KEY = '9de274aca217f6c8787ddb88fbcf323c'
# INDICATORS = ['T10Y2Y','FEDFUNDS']

# params = {
#     'api_key': API_KEY,
#     'series_id': INDICATOR,
#     'file_type': 'json',
#     'observation_start': start_date,
#     'observation_end': end_date,
#     'frequency': 'd'
# }

# requests = requests.get(URL, params=params)
# data = res.json()
# data = data['observations']

## Collect macroeconomic FRED data

Data details get using BeautifulSoup

In [11]:
from bs4 import BeautifulSoup

url_list = [
"https://fred.stlouisfed.org/series/PAYEMS",
"https://fred.stlouisfed.org/series/UNRATE",
"https://fred.stlouisfed.org/series/GDP",
"https://fred.stlouisfed.org/series/A191RP1Q027SBEA",
"https://fred.stlouisfed.org/series/M2SL",
"https://fred.stlouisfed.org/series/CPIAUCSL",
"https://fred.stlouisfed.org/series/HOUST",
"https://fred.stlouisfed.org/series/SAHMCURRENT",
"https://fred.stlouisfed.org/series/LORSGPORUSQ659S",
"https://fred.stlouisfed.org/series/BOGZ1FL135010005Q",
"https://fred.stlouisfed.org/series/UMCSENT",
"https://fred.stlouisfed.org/series/CE16OV",
"https://fred.stlouisfed.org/series/W875RX1#",
"https://fred.stlouisfed.org/series/INDPRO"
]

url_print = []
title_print = []
notes_text_print = []

# Loop through the URLs and extract the title and paragraph under "Notes"
for url in url_list:
# Extract the title 
    response = requests.get(url)
    soup = BeautifulSoup(response.text, "html.parser")
    title = soup.title.string.strip()
# Extract the paragraph under "Notes"
    notes = soup.find("div", id="notes") 
    notes_text = notes.get_text(strip=True) 

    # Create the lists and print the results
    url_print.append(f"URL: {url}")
    title_print.append(f"Title: {title}")
    notes_text_print.append(f"Notes: {notes_text}\n")

    print(f"URL: {url}")
    print(f"Title: {title}")  
    print(f"Notes: {notes_text}\n")

URL: https://fred.stlouisfed.org/series/PAYEMS
Title: All Employees, Total Nonfarm (PAYEMS) | FRED | St. Louis Fed
Notes: NotesSource:U.S. Bureau of Labor StatisticsRelease:Employment SituationUnits:Thousands of Persons, Seasonally AdjustedFrequency:MonthlyNotes:All Employees: Total Nonfarm, commonly known as Total Nonfarm Payroll, is a measure of the number of U.S. workers in the economy that excludes proprietors, private household employees, unpaid volunteers, farm employees, and the unincorporated self-employed. This measure accounts for approximately 80 percent of the workers who contribute to Gross Domestic Product (GDP).This measure provides useful insights into the current economic situation because it can represent the number of jobs added or lost in an economy. Increases in employment might indicate that businesses are hiring which might also suggest that businesses are growing. Additionally, those who are newly employed have increased their personal incomes, which means (all else constant) their disposable incomes have also increased, thus fostering further economic expansion.Generally, the U.S. labor force and levels of employment and unemployment are subject to fluctuations due to seasonal changes in weather, major holidays, and the opening and closing of schools. The Bureau of Labor Statistics (BLS) adjusts the data to offset the seasonal effects to show non-seasonal changes: for example, women's participation in the labor force; or a general decline in the number of employees, a possible indication of a downturn in the economy. To closely examine seasonal and non-seasonal changes, the BLS releases two monthly statistical measures: the seasonally adjusted All Employees: Total Nonfarm (PAYEMS) and All Employees: Total Nonfarm (PAYNSA), which is not seasonally adjusted.The series comes from the 'Current Employment Statistics (Establishment Survey).'The source code is: CES0000000001Suggested Citation:U.S. Bureau of Labor Statistics,
                    All Employees, Total Nonfarm [PAYEMS],
                    retrieved from FRED,
                    Federal Reserve Bank of St. Louis;
                    https://fred.stlouisfed.org/series/PAYEMS,.

URL: https://fred.stlouisfed.org/series/UNRATE
Title: Unemployment Rate (UNRATE) | FRED | St. Louis Fed
Notes: NotesSource:U.S. Bureau of Labor StatisticsRelease:Employment SituationUnits:Percent, Seasonally AdjustedFrequency:MonthlyNotes:The unemployment rate represents the number of unemployed as a percentage of the labor force. Labor force data are restricted to people 16 years of age and older, who currently reside in 1 of the 50 states or the District of Columbia, who do not reside in institutions (e.g., penal and mental facilities, homes for the aged), and who are not on active duty in the Armed Forces.This rate is also defined as the U-3 measure of labor underutilization.The series comes from the 'Current Population Survey (Household Survey)'The source code is: LNS14000000Suggested Citation:U.S. Bureau of Labor Statistics,
                    Unemployment Rate [UNRATE],
                    retrieved from FRED,
                    Federal Reserve Bank of St. Louis;
                    https://fred.stlouisfed.org/series/UNRATE,.

URL: https://fred.stlouisfed.org/series/GDP
Title: Gross Domestic Product (GDP) | FRED | St. Louis Fed
Notes: NotesSource:U.S. Bureau of Economic AnalysisRelease:Gross Domestic ProductUnits:Billions of Dollars, Seasonally Adjusted Annual RateFrequency:QuarterlyNotes:BEA Account Code: A191RCGross domestic product (GDP), the featured measure of U.S. output, is the market value of the goods and services produced by labor and property located in the United States.For more information, see the Guide to the National Income and Product Accounts of the United States (NIPA) and theBureau of Economic Analysis.Suggested Citation:U.S. Bureau of Economic Analysis,
                    Gross Domestic Product [GDP],
                    retrieved from FRED,
                    Federal Reserve Bank of St. Louis;
                    https://fred.stlouisfed.org/series/GDP,.

URL: https://fred.stlouisfed.org/series/A191RP1Q027SBEA
Title: Gross Domestic Product (A191RP1Q027SBEA) | FRED | St. Louis Fed
Notes: NotesSource:U.S. Bureau of Economic AnalysisRelease:Gross Domestic ProductUnits:Percent Change from Preceding Period, Seasonally Adjusted Annual RateFrequency:QuarterlyNotes:BEA Account Code: A191RPFor more information about this series, please seehttp://www.bea.gov/national/.Suggested Citation:U.S. Bureau of Economic Analysis,
                    Gross Domestic Product [A191RP1Q027SBEA],
                    retrieved from FRED,
                    Federal Reserve Bank of St. Louis;
                    https://fred.stlouisfed.org/series/A191RP1Q027SBEA,.

URL: https://fred.stlouisfed.org/series/M2SL
Title: M2 (M2SL) | FRED | St. Louis Fed
Notes: NotesSource:Board of Governors of the Federal Reserve System (US)Release:H.6 Money Stock MeasuresUnits:Billions of Dollars, Seasonally AdjustedFrequency:MonthlyNotes:Before May 2020, M2 consists of M1 plus (1) savings deposits (including money market deposit accounts); (2) small-denomination time deposits (time deposits in amounts of less than $100,000) less individual retirement account (IRA) and Keogh balances at depository institutions; and (3) balances in retail money market funds (MMFs) less IRA and Keogh balances at MMFs.Beginning May 2020, M2 consists of M1 plus (1) small-denomination time deposits (time deposits in amounts of less than $100,000) less IRA and Keogh balances at depository institutions; and (2) balances in retail MMFs less IRA and Keogh balances at MMFs. Seasonally adjusted M2 is constructed by summing savings deposits (before May 2020), small-denomination time deposits, and retail MMFs, each seasonally adjusted separately, and adding this result to seasonally adjusted M1.For more information on the H.6 release changes and the regulatory amendment that led to the creation of the other liquid deposits component and its inclusion in the M1 monetary aggregate, see the H.6announcementsandTechnical Q&Asposted on December 17, 2020.For questions on the data, please contact thedata source. For questions on FRED functionality, please contact ushere.Suggested Citation:Board of Governors of the Federal Reserve System (US),
                    M2 [M2SL],
                    retrieved from FRED,
                    Federal Reserve Bank of St. Louis;
                    https://fred.stlouisfed.org/series/M2SL,.

URL: https://fred.stlouisfed.org/series/CPIAUCSL
Title: Consumer Price Index for All Urban Consumers: All Items in U.S. City Average (CPIAUCSL) | FRED | St. Louis Fed
Notes: NotesSource:U.S. Bureau of Labor StatisticsRelease:Consumer Price IndexUnits:Index 1982-1984=100, Seasonally AdjustedFrequency:MonthlyNotes:The Consumer Price Index for All Urban Consumers: All Items (CPIAUCSL) is a price index of a basket of goods and services paid by urban consumers. Percent changes in the price index measure the inflation rate between any two time periods. The most common inflation metric is the percent change from one year ago. It can also represent the buying habits of urban consumers. This particular index includes roughly 88 percent of the total population, accounting for wage earners, clerical workers, technical workers, self-employed, short-term workers, unemployed, retirees, and those not in the labor force.The CPIs are based on prices for food, clothing, shelter, and fuels; transportation fares; service fees (e.g., water and sewer service); and sales taxes. Prices are collected monthly from about 4,000 housing units and approximately 26,000 retail establishments across 87 urban areas. To calculate the index, price changes are averaged with weights representing their importance in the spending of the particular group. The index measures price changes (as a percent change) from a predetermined reference date. In addition to the original unadjusted index distributed, the Bureau of Labor Statistics also releases a seasonally adjusted index. The unadjusted series reflects all factors that may influence a change in prices. However, it can be very useful to look at the seasonally adjusted CPI, which removes the effects of seasonal changes, such as weather, school year, production cycles, and holidays.The CPI can be used to recognize periods of inflation and deflation. Significant increases in the CPI within a short time frame might indicate a period of inflation, and significant decreases in CPI within a short time frame might indicate a period of deflation. However, because the CPI includes volatile food and oil prices, it might not be a reliable measure of inflationary and deflationary periods. For a more accurate detection, the core CPI (CPILFESL) is often used. When using the CPI, please note that it is not applicable to all consumers and should not be used to determine relative living costs. Additionally, the CPI is a statistical measure vulnerable to sampling error since it is based on a sample of prices and not the complete average.For more information on the consumer price indexes, see:Bureau of Economic Analysis."CPI Detailed Report."2013.Handbook of MethodsUnderstanding the CPI: Frequently Asked QuestionsSuggested Citation:U.S. Bureau of Labor Statistics,
                    Consumer Price Index for All Urban Consumers: All Items in U.S. City Average [CPIAUCSL],
                    retrieved from FRED,
                    Federal Reserve Bank of St. Louis;
                    https://fred.stlouisfed.org/series/CPIAUCSL,.

URL: https://fred.stlouisfed.org/series/HOUST
Title: New Privately-Owned Housing Units Started: Total Units (HOUST) | FRED | St. Louis Fed
Notes: NotesSource:U.S. Census BureauSource:U.S. Department of Housing and Urban DevelopmentRelease:New Residential ConstructionUnits:Thousands of Units, Seasonally Adjusted Annual RateFrequency:MonthlyNotes:As provided by the Census, start occurs when excavation begins for the footings or foundation of a building. All housing units in a multifamily building are defined as being started when this excavation begins. Beginning with data for September 1992, estimates of housing starts include units in structures being totally rebuilt on an existing foundation.Suggested Citation:U.S. Census Bureau and U.S. Department of Housing and Urban Development,
                    New Privately-Owned Housing Units Started: Total Units [HOUST],
                    retrieved from FRED,
                    Federal Reserve Bank of St. Louis;
                    https://fred.stlouisfed.org/series/HOUST,.

URL: https://fred.stlouisfed.org/series/SAHMCURRENT
Title: Sahm Rule Recession Indicator (SAHMCURRENT) | FRED | St. Louis Fed
Notes: NotesSource:Sahm, ClaudiaRelease:Sahm Rule Recession IndicatorUnits:Percentage Points, Seasonally AdjustedFrequency:MonthlyNotes:Sahm Recession Indicator signals the start of a recession when the three-month moving average of thenational unemployment rate (U3)rises by 0.50 percentage points or more relative to the minimum of the three-month averages from the previous 12 months.Suggested Citation:Sahm, Claudia,
                    Sahm Rule Recession Indicator [SAHMCURRENT],
                    retrieved from FRED,
                    Federal Reserve Bank of St. Louis;
                    https://fred.stlouisfed.org/series/SAHMCURRENT,.

URL: https://fred.stlouisfed.org/series/LORSGPORUSQ659S
Title: Composite Leading Indicators: Reference Series (GDP) Calendar and Seasonally Adjusted for United States (LORSGPORUSQ659S) | FRED | St. Louis Fed
Notes: NOTESSource:Organization for Economic Co-operation and DevelopmentRelease:Main Economic IndicatorsUnits:Growth rate same period previous year, Seasonally AdjustedFrequency:QuarterlyNotes:OECD Data Filters:REF_AREA: USAMEASURE: RSUNIT_MEASURE: IXACTIVITY: _ZADJUSTMENT: YTRANSFORMATION: GYTIME_HORIZ: _ZMETHODOLOGY: NFREQ: QAll OECD data should be cited as follows: OECD (year), (dataset name), (data source) DOI orhttps://data-explorer.oecd.org/. (accessed on (date)).Suggested Citation:Organization for Economic Co-operation and Development,
                    Composite Leading Indicators: Reference Series (GDP) Calendar and Seasonally Adjusted for United States [LORSGPORUSQ659S],
                    retrieved from FRED,
                    Federal Reserve Bank of St. Louis;
                    https://fred.stlouisfed.org/series/LORSGPORUSQ659S,.

URL: https://fred.stlouisfed.org/series/BOGZ1FL135010005Q
Title: Farm Business (Included in Nonfinancial Corporate and Noncorporate Business Sectors); Land at Market Value, Level (BOGZ1FL135010005Q) | FRED | St. Louis Fed
Notes: NotesSource:Board of Governors of the Federal Reserve System (US)Release:Z.1 Financial Accounts of the United StatesUnits:Millions of Dollars, Not Seasonally AdjustedFrequency:QuarterlyNotes:Source ID: FL135010005.QFor more information about the Flow of Funds tables, see theFinancial Accounts Guide.With each quarterly release, the source may make major data and structural revisions to the series and tables. These changes are available in theRelease Highlights.In the Financial Accounts, the source identifies each series by a string of patterned letters and numbers. For a detailed description, including how this series is constructed, see theseries analyzerprovided by the source.Suggested Citation:Board of Governors of the Federal Reserve System (US),
                    Farm Business (Included in Nonfinancial Corporate and Noncorporate Business Sectors); Land at Market Value, Level [BOGZ1FL135010005Q],
                    retrieved from FRED,
                    Federal Reserve Bank of St. Louis;
                    https://fred.stlouisfed.org/series/BOGZ1FL135010005Q,.

URL: https://fred.stlouisfed.org/series/UMCSENT
Title: University of Michigan: Consumer Sentiment (UMCSENT) | FRED | St. Louis Fed
Notes: NotesSource:University of MichiganRelease:Surveys of ConsumersUnits:Index 1966:Q1=100, Not Seasonally AdjustedFrequency:MonthlyNotes:At the request of the source, the data is delayed by 1 month. To obtain historical data prior to January 1978, please see FRED data series UMCSENT1.This data should be cited as follows: "Surveys of Consumers, University of Michigan, University of Michigan: Consumer Sentiment © [UMCSENT], retrieved fromFRED, Federal Reserve Bank of St. Louis, (Accessed on date)"Copyright, 2016, Surveys of Consumers, University of Michigan. Reprinted with permission.Suggested Citation:University of Michigan,
                    University of Michigan: Consumer Sentiment [UMCSENT],
                    retrieved from FRED,
                    Federal Reserve Bank of St. Louis;
                    https://fred.stlouisfed.org/series/UMCSENT,.

URL: https://fred.stlouisfed.org/series/CE16OV
Title: Employment Level (CE16OV) | FRED | St. Louis Fed
Notes: NotesSource:U.S. Bureau of Labor StatisticsRelease:Employment SituationUnits:Thousands of Persons, Seasonally AdjustedFrequency:MonthlyNotes:The civilian noninstitutional population is defined as: persons 16 years of age and older residing in the 50 states and the District of Columbia, who are not inmates of institutions (e.g., penal and mental facilities, homes for the aged), and who are not on active duty in the Armed Forces.The series comes from the 'Current Population Survey (Household Survey)'The source code is: LNS12000000Suggested Citation:U.S. Bureau of Labor Statistics,
                    Employment Level [CE16OV],
                    retrieved from FRED,
                    Federal Reserve Bank of St. Louis;
                    https://fred.stlouisfed.org/series/CE16OV,.

URL: https://fred.stlouisfed.org/series/W875RX1#
Title: Real personal income excluding current transfer receipts (W875RX1) | FRED | St. Louis Fed
Notes: NotesSource:U.S. Bureau of Economic AnalysisRelease:Personal Income and OutlaysUnits:Billions of Chained 2017 Dollars, Seasonally Adjusted Annual RateFrequency:MonthlyNotes:BEA Account Code: W875RXA Guide to the National Income and Product Accounts of the United States (NIPA) - (http://www.bea.gov/national/pdf/nipaguid.pdf)Suggested Citation:U.S. Bureau of Economic Analysis,
                    Real personal income excluding current transfer receipts [W875RX1],
                    retrieved from FRED,
                    Federal Reserve Bank of St. Louis;
                    https://fred.stlouisfed.org/series/W875RX1,.

URL: https://fred.stlouisfed.org/series/INDPRO
Title: Industrial Production: Total Index (INDPRO) | FRED | St. Louis Fed
Notes: NotesSource:Board of Governors of the Federal Reserve System (US)Release:G.17 Industrial Production and Capacity UtilizationUnits:Index 2017=100, Seasonally AdjustedFrequency:MonthlyNotes:The Federal Reserve's monthly index of industrial production and the related capacity indexes and capacity utilization rates cover manufacturing, mining, and electric and gas utilities. The industrial sector, together with construction, accounts for the bulk of the variation in national output over the course of the business cycle. The industrial detail provided by these measures helps illuminate structural developments in the economy. The industrial production (IP) index measures the real output of all relevant establishments located in the United States, regardless of their ownership, but not those located in U.S. territories. For more information, see theexplanatory notesissued by the Board of Governors. For recent updates, see theannouncementsissued by the Board of Governors.Suggested Citation:Board of Governors of the Federal Reserve System (US),
                    Industrial Production: Total Index [INDPRO],
                    retrieved from FRED,
                    Federal Reserve Bank of St. Louis;
                    https://fred.stlouisfed.org/series/INDPRO,.

Read CSV files into variables

In [ ]:
# Loop through the csv files in the 'data' folder and read_csv them into dictionary
dataframes_dict = {}
folder = 'data/FRED Data'
for file in os.listdir(folder):
    file_name = os.path.splitext(file)[0]
    file_path = os.path.join(folder, file)
    if file.endswith('.csv'):
        dataframes_dict[file_name] = pd.read_csv(file_path)

In [15]:
for names, data in dataframes_dict.items():
    locals()[names] = data
    print(names)

for names, data in dataframes_dict.items():
    locals()[names] = data
    print(data.info())

M2SL
UNRATE
A191RP1Q027SBEA
GDP
LORSGPORUSQ659S
Presidential_Results
PAYEMS
CPIAUCSL
UMCSENT
INDPRO
BOGZ1FL135010005Q
W875RX1
CE16OV
DFF
SAHMCURRENT
CMDEBT
HOUST
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 794 entries, 0 to 793
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   observation_date  794 non-null    object
 1   M2SL              794 non-null    float64
dtypes: float64(1), object(1)
memory usage: 12.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 926 entries, 0 to 925
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   observation_date  926 non-null    object
 1   UNRATE            926 non-null    float64
dtypes: float64(1), object(1)
memory usage: 14.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   observation_date  311 non-null    object
 1   A191RP1Q027SBEA   311 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312 entries, 0 to 311
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   observation_date  312 non-null    object
 1   GDP               312 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 304 entries, 0 to 303
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   observation_date  304 non-null    object
 1   LORSGPORUSQ659S   304 non-null    float64
dtypes: float64(1), object(1)
memory usage: 4.9+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Election           20 non-null     int64
 1   President Party    20 non-null     object
 2   Electoral College  20 non-null     object
 3   Popular vote       20 non-null     object
 4   Turnout[6]         20 non-null     object
dtypes: int64(1), object(4)
memory usage: 928.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1034 entries, 0 to 1033
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   observation_date  1034 non-null   object
 1   PAYEMS            1034 non-null   int64
dtypes: int64(1), object(1)
memory usage: 16.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 938 entries, 0 to 937
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   observation_date  938 non-null    object
 1   CPIAUCSL          938 non-null    float64
dtypes: float64(1), object(1)
memory usage: 14.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 868 entries, 0 to 867
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   observation_date  868 non-null    object
 1   UMCSENT           658 non-null    float64
dtypes: float64(1), object(1)
memory usage: 13.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1274 entries, 0 to 1273
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   observation_date  1274 non-null   object
 1   INDPRO            1274 non-null   float64
dtypes: float64(1), object(1)
memory usage: 20.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317 entries, 0 to 316
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   observation_date   317 non-null    object
 1   BOGZ1FL135010005Q  299 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 794 entries, 0 to 793
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   observation_date  794 non-null    object
 1   W875RX1           794 non-null    float64
dtypes: float64(1), object(1)
memory usage: 12.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 926 entries, 0 to 925
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   observation_date  926 non-null    object
 1   CE16OV            926 non-null    int64
dtypes: int64(1), object(1)
memory usage: 14.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25838 entries, 0 to 25837
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   observation_date  25838 non-null  object
 1   DFF               25838 non-null  float64
dtypes: float64(1), object(1)
memory usage: 403.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912 entries, 0 to 911
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   observation_date  912 non-null    object
 1   SAHMCURRENT       912 non-null    float64
dtypes: float64(1), object(1)
memory usage: 14.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317 entries, 0 to 316
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   observation_date  317 non-null    object
 1   CMDEBT            299 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 794 entries, 0 to 793
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   observation_date  794 non-null    object
 1   HOUST             794 non-null    int64
dtypes: int64(1), object(1)
memory usage: 12.5+ KB
None

## Clean FRED Data

I will go through each database (created above) and clean the data

    observation_date  HOUST
0         1959-01-01   1657
1         1959-02-01   1667
2         1959-03-01   1620
3         1959-04-01   1590
4         1959-05-01   1498
..               ...    ...
789       2024-10-01   1344
790       2024-11-01   1305
791       2024-12-01   1526
792       2025-01-01   1350
793       2025-02-01   1501

[794 rows x 2 columns]