Import packages

In [59]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import datetime as dt
import json
import requests
import fredapi

Create date range

In [46]:
end_date = dt.datetime.now()
start_date = dt.datetime(1950, 1, 1)

Connect to S&P500 API from RapidAPI

In [47]:
url = "https://s-p-500-history-api.p.rapidapi.com/historical-stock-data.php"

querystring = {"interval":"day","symbol":"^GSPC","start":start_date,"end":end_date}

headers = {
	"x-rapidapi-key": "1818711435msh7ff1e71cfe61ec4p1b64e1jsn32c289b7a487",
	"x-rapidapi-host": "s-p-500-history-api.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

Extract the 'data' dictionary from the response

In [48]:
# response_json = json.loads(response.text)
# sp = pd.DataFrame(response_json['data'])
# sp.head()

Drop all volume entries = 0

In [49]:
sp = sp[sp['volume']!=0]
sp

,date_time,timestamp,high,low,close,open,volume,adjusted_close
0,"January 3, 1950, 2:30 PM UTC",-630927000,16.660000,16.660000,16.660000,16.660000,1260000,16.660000
1,"January 4, 1950, 2:30 PM UTC",-630840600,16.850000,16.850000,16.850000,16.850000,1890000,16.850000
2,"January 5, 1950, 2:30 PM UTC",-630754200,16.930000,16.930000,16.930000,16.930000,2550000,16.930000
3,"January 6, 1950, 2:30 PM UTC",-630667800,16.980000,16.980000,16.980000,16.980000,2010000,16.980000
4,"January 9, 1950, 2:30 PM UTC",-630408600,17.080000,17.080000,17.080000,17.080000,2520000,17.080000
...,...,...,...,...,...,...,...,...
18925,"March 24, 2025, 1:30 PM UTC",1742823000,5775.140137,5718.080078,5767.569824,5718.080078,4517990000,5767.569824
18926,"March 25, 2025, 1:30 PM UTC",1742909400,5786.950195,5760.419922,5776.649902,5775.959961,4467340000,5776.649902
18927,"March 26, 2025, 1:30 PM UTC",1742995800,5783.620117,5694.410156,5712.200195,5771.660156,4183140000,5712.200195
18928,"March 27, 2025, 1:30 PM UTC",1743082200,5732.279785,5670.939941,5693.310059,5695.640137,4403460000,5693.310059
18929,"March 28, 2025, 1:30 PM UTC",1743168600,5685.890137,5572.419922,5580.939941,5679.200195,4513330000,5580.939941

APIs from FRED (St Louis Fed)

In [ ]:
# URL_BASE = 'https://api.stlouisfed.org/'
# ENDPOINT = 'fred/series/observations'

# URL = URL_BASE + ENDPOINT

# API_KEY = '9de274aca217f6c8787ddb88fbcf323c'
# INDICATORS = 'T10Y2Y'

# params = {
#     'api_key': API_KEY,
#     'series_id': INDICATOR,
#     'file_type': 'json',
#     'observation_start': start_date,
#     'observation_end': end_date
# }

# requests = requests.get(URL, params=params)
# data = res.json()
# data = data['observations']

AttributeError: 'Response' object has no attribute 'get'

In [51]:
URL_BASE = 'https://api.stlouisfed.org/'
ENDPOINT = 'fred/series/observations'

URL = URL_BASE + ENDPOINT

API_KEY = '9de274aca217f6c8787ddb88fbcf323c'
INDICATORS = ['T10Y2Y','FEDFUNDS']

params = {
    'api_key': API_KEY,
    'series_id': INDICATOR,
    'file_type': 'json',
    'observation_start': start_date,
    'observation_end': end_date,
    'frequency': 'd'
}

requests = requests.get(URL, params=params)
data = res.json()
data = data['observations']

AttributeError: 'Response' object has no attribute 'get'