Import packages

In [12]:
pip install -r Requirements.txt

Requirement already satisfied: numpy in /home/daviid/.local/share/mamba/envs/dtsc691/lib/python3.9/site-packages (from -r Requirements.txt (line 1)) (2.0.2)
Requirement already satisfied: pandas in /home/daviid/.local/share/mamba/envs/dtsc691/lib/python3.9/site-packages (from -r Requirements.txt (line 2)) (2.2.3)
Requirement already satisfied: scikit-learn in /home/daviid/.local/share/mamba/envs/dtsc691/lib/python3.9/site-packages (from -r Requirements.txt (line 3)) (1.6.1)
Requirement already satisfied: matplotlib in /home/daviid/.local/share/mamba/envs/dtsc691/lib/python3.9/site-packages (from -r Requirements.txt (line 4)) (3.9.4)
Requirement already satisfied: requests in /home/daviid/.local/share/mamba/envs/dtsc691/lib/python3.9/site-packages (from -r Requirements.txt (line 5)) (2.32.3)
Requirement already satisfied: datetime in /home/daviid/.local/share/mamba/envs/dtsc691/lib/python3.9/site-packages (from -r Requirements.txt (line 6)) (5.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/daviid/.local/share/mamba/envs/dtsc691/lib/python3.9/site-packages (from pandas->-r Requirements.txt (line 2)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/daviid/.local/share/mamba/envs/dtsc691/lib/python3.9/site-packages (from pandas->-r Requirements.txt (line 2)) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/daviid/.local/share/mamba/envs/dtsc691/lib/python3.9/site-packages (from pandas->-r Requirements.txt (line 2)) (2025.2)
Requirement already satisfied: scipy>=1.6.0 in /home/daviid/.local/share/mamba/envs/dtsc691/lib/python3.9/site-packages (from scikit-learn->-r Requirements.txt (line 3)) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /home/daviid/.local/share/mamba/envs/dtsc691/lib/python3.9/site-packages (from scikit-learn->-r Requirements.txt (line 3)) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /home/daviid/.local/share/mamba/envs/dtsc691/lib/python3.9/site-packages (from scikit-learn->-r Requirements.txt (line 3)) (3.6.0)
Requirement already satisfied: contourpy>=1.0.1 in /home/daviid/.local/share/mamba/envs/dtsc691/lib/python3.9/site-packages (from matplotlib->-r Requirements.txt (line 4)) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /home/daviid/.local/share/mamba/envs/dtsc691/lib/python3.9/site-packages (from matplotlib->-r Requirements.txt (line 4)) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/daviid/.local/share/mamba/envs/dtsc691/lib/python3.9/site-packages (from matplotlib->-r Requirements.txt (line 4)) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/daviid/.local/share/mamba/envs/dtsc691/lib/python3.9/site-packages (from matplotlib->-r Requirements.txt (line 4)) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /home/daviid/.local/share/mamba/envs/dtsc691/lib/python3.9/site-packages (from matplotlib->-r Requirements.txt (line 4)) (24.2)
Requirement already satisfied: pillow>=8 in /home/daviid/.local/share/mamba/envs/dtsc691/lib/python3.9/site-packages (from matplotlib->-r Requirements.txt (line 4)) (11.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/daviid/.local/share/mamba/envs/dtsc691/lib/python3.9/site-packages (from matplotlib->-r Requirements.txt (line 4)) (3.2.3)
Requirement already satisfied: importlib-resources>=3.2.0 in /home/daviid/.local/share/mamba/envs/dtsc691/lib/python3.9/site-packages (from matplotlib->-r Requirements.txt (line 4)) (6.5.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/daviid/.local/share/mamba/envs/dtsc691/lib/python3.9/site-packages (from requests->-r Requirements.txt (line 5)) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /home/daviid/.local/share/mamba/envs/dtsc691/lib/python3.9/site-packages (from requests->-r Requirements.txt (line 5)) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/daviid/.local/share/mamba/envs/dtsc691/lib/python3.9/site-packages (from requests->-r Requirements.txt (line 5)) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/daviid/.local/share/mamba/envs/dtsc691/lib/python3.9/site-packages (from requests->-r Requirements.txt (line 5)) (2025.1.31)
Requirement already satisfied: zope.interface in /home/daviid/.local/share/mamba/envs/dtsc691/lib/python3.9/site-packages (from datetime->-r Requirements.txt (line 6)) (7.2)
Requirement already satisfied: zipp>=3.1.0 in /home/daviid/.local/share/mamba/envs/dtsc691/lib/python3.9/site-packages (from importlib-resources>=3.2.0->matplotlib->-r Requirements.txt (line 4)) (3.21.0)
Requirement already satisfied: six>=1.5 in /home/daviid/.local/share/mamba/envs/dtsc691/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas->-r Requirements.txt (line 2)) (1.17.0)
Requirement already satisfied: setuptools in /home/daviid/.local/share/mamba/envs/dtsc691/lib/python3.9/site-packages (from zope.interface->datetime->-r Requirements.txt (line 6)) (75.8.2)
Note: you may need to restart the kernel to use updated packages.

In [13]:
import pandas as pd
import numpy as np
import matplotlib as plt

import datetime as dt
import requests

Create date range for S&P500

In [14]:
end_date = dt.datetime.now()
start_date = dt.datetime(1900, 1, 1)

Connect to S&P500 API from RapidAPI and get S&P500 data

In [15]:
# url = "https://s-p-500-history-api.p.rapidapi.com/historical-stock-data.php"

# querystring = {"interval":"day","symbol":"^GSPC","start":start_date,"end":end_date}

# headers = {
# 	"x-rapidapi-key": "1818711435msh7ff1e71cfe61ec4p1b64e1jsn32c289b7a487",
# 	"x-rapidapi-host": "s-p-500-history-api.p.rapidapi.com"
# }

# response = requests.get(url, headers=headers, params=querystring)

Extract the 'data' dictionary from the response

In [16]:
response_json = json.loads(response.text)
sp = pd.DataFrame(response_json['data'])
sp.head()

,date_time,timestamp,high,low,close,open,volume,adjusted_close
0,"December 30, 1927, 2:30 PM UTC",-1325583000,17.660000,17.660000,17.660000,17.660000,0,17.660000
1,"January 3, 1928, 2:30 PM UTC",-1325237400,17.760000,17.760000,17.760000,17.760000,0,17.760000
2,"January 4, 1928, 2:30 PM UTC",-1325151000,17.719999,17.719999,17.719999,17.719999,0,17.719999
3,"January 5, 1928, 2:30 PM UTC",-1325064600,17.549999,17.549999,17.549999,17.549999,0,17.549999
4,"January 6, 1928, 2:30 PM UTC",-1324978200,17.660000,17.660000,17.660000,17.660000,0,17.660000

Drop all volume entries = 0

In [17]:
sp = sp[sp['volume']!=0]
sp

,date_time,timestamp,high,low,close,open,volume,adjusted_close
5496,"January 3, 1950, 2:30 PM UTC",-630927000,16.660000,16.660000,16.660000,16.660000,1260000,16.660000
5497,"January 4, 1950, 2:30 PM UTC",-630840600,16.850000,16.850000,16.850000,16.850000,1890000,16.850000
5498,"January 5, 1950, 2:30 PM UTC",-630754200,16.930000,16.930000,16.930000,16.930000,2550000,16.930000
5499,"January 6, 1950, 2:30 PM UTC",-630667800,16.980000,16.980000,16.980000,16.980000,2010000,16.980000
5500,"January 9, 1950, 2:30 PM UTC",-630408600,17.080000,17.080000,17.080000,17.080000,2520000,17.080000
...,...,...,...,...,...,...,...,...
24423,"March 26, 2025, 1:30 PM UTC",1742995800,5783.620117,5694.410156,5712.200195,5771.660156,4183140000,5712.200195
24424,"March 27, 2025, 1:30 PM UTC",1743082200,5732.279785,5670.939941,5693.310059,5695.640137,4403460000,5693.310059
24425,"March 28, 2025, 1:30 PM UTC",1743168600,5685.890137,5572.419922,5580.939941,5679.200195,4513330000,5580.939941
24426,"March 31, 2025, 1:30 PM UTC",1743427800,5627.560059,5488.729980,5611.850098,5527.910156,5257250000,5611.850098
24427,"April 1, 2025, 1:30 PM UTC",1743514200,5650.569824,5558.520020,5633.069824,5597.529785,4434500000,5633.069824

This code is commented out since the rest of the data will be downloaded in batches, not via API.

In [18]:
# URL_BASE = 'https://api.stlouisfed.org/'
# ENDPOINT = 'fred/series/observations'

# URL = URL_BASE + ENDPOINT

# API_KEY = '9de274aca217f6c8787ddb88fbcf323c'
# INDICATORS = 'T10Y2Y'

# params = {
#     'api_key': API_KEY,
#     'series_id': INDICATOR,
#     'file_type': 'json',
#     'observation_start': start_date,
#     'observation_end': end_date
# }

# requests = requests.get(URL, params=params)
# data = res.json()
# data = data['observations']

In [19]:
# URL_BASE = 'https://api.stlouisfed.org/'
# ENDPOINT = 'fred/series/observations'

# URL = URL_BASE + ENDPOINT

# API_KEY = '9de274aca217f6c8787ddb88fbcf323c'
# INDICATORS = ['T10Y2Y','FEDFUNDS']

# params = {
#     'api_key': API_KEY,
#     'series_id': INDICATOR,
#     'file_type': 'json',
#     'observation_start': start_date,
#     'observation_end': end_date,
#     'frequency': 'd'
# }

# requests = requests.get(URL, params=params)
# data = res.json()
# data = data['observations']

change