<!-- Import packages -->

## S&P500 data

Install packages

In [28]:
pip install -r Requirements.txt

Requirement already satisfied: numpy in c:\users\hurle\anaconda3\envs\dtsc680appliedml\lib\site-packages (from -r Requirements.txt (line 1)) (1.24.3)
Requirement already satisfied: pandas in c:\users\hurle\anaconda3\envs\dtsc680appliedml\lib\site-packages (from -r Requirements.txt (line 2)) (2.0.3)
Requirement already satisfied: scikit-learn in c:\users\hurle\anaconda3\envs\dtsc680appliedml\lib\site-packages (from -r Requirements.txt (line 3)) (1.3.2)
Requirement already satisfied: matplotlib in c:\users\hurle\anaconda3\envs\dtsc680appliedml\lib\site-packages (from -r Requirements.txt (line 4)) (3.2.2)
Requirement already satisfied: requests in c:\users\hurle\anaconda3\envs\dtsc680appliedml\lib\site-packages (from -r Requirements.txt (line 5)) (2.32.3)
Requirement already satisfied: datetime in c:\users\hurle\anaconda3\envs\dtsc680appliedml\lib\site-packages (from -r Requirements.txt (line 6)) (5.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hurle\anaconda3\envs\dtsc680appliedml\lib\site-packages (from pandas->-r Requirements.txt (line 2)) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hurle\anaconda3\envs\dtsc680appliedml\lib\site-packages (from pandas->-r Requirements.txt (line 2)) (2025.1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\hurle\anaconda3\envs\dtsc680appliedml\lib\site-packages (from pandas->-r Requirements.txt (line 2)) (2025.1)
Requirement already satisfied: scipy>=1.5.0 in c:\users\hurle\anaconda3\envs\dtsc680appliedml\lib\site-packages (from scikit-learn->-r Requirements.txt (line 3)) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\hurle\anaconda3\envs\dtsc680appliedml\lib\site-packages (from scikit-learn->-r Requirements.txt (line 3)) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hurle\anaconda3\envs\dtsc680appliedml\lib\site-packages (from scikit-learn->-r Requirements.txt (line 3)) (3.5.0)
Requirement already satisfied: cycler>=0.10 in c:\users\hurle\anaconda3\envs\dtsc680appliedml\lib\site-packages (from matplotlib->-r Requirements.txt (line 4)) (0.12.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\hurle\anaconda3\envs\dtsc680appliedml\lib\site-packages (from matplotlib->-r Requirements.txt (line 4)) (1.4.7)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\hurle\anaconda3\envs\dtsc680appliedml\lib\site-packages (from matplotlib->-r Requirements.txt (line 4)) (3.1.4)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\hurle\anaconda3\envs\dtsc680appliedml\lib\site-packages (from requests->-r Requirements.txt (line 5)) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hurle\anaconda3\envs\dtsc680appliedml\lib\site-packages (from requests->-r Requirements.txt (line 5)) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\hurle\anaconda3\envs\dtsc680appliedml\lib\site-packages (from requests->-r Requirements.txt (line 5)) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hurle\anaconda3\envs\dtsc680appliedml\lib\site-packages (from requests->-r Requirements.txt (line 5)) (2025.1.31)
Requirement already satisfied: zope.interface in c:\users\hurle\anaconda3\envs\dtsc680appliedml\lib\site-packages (from datetime->-r Requirements.txt (line 6)) (7.2)
Requirement already satisfied: six>=1.5 in c:\users\hurle\anaconda3\envs\dtsc680appliedml\lib\site-packages (from python-dateutil>=2.8.2->pandas->-r Requirements.txt (line 2)) (1.16.0)
Requirement already satisfied: setuptools in c:\users\hurle\anaconda3\envs\dtsc680appliedml\lib\site-packages (from zope.interface->datetime->-r Requirements.txt (line 6)) (75.3.0)
Note: you may need to restart the kernel to use updated packages.

Import libraries

In [29]:
import pandas as pd
import numpy as np
import matplotlib as plt
import json
import datetime as dt
import requests

<!-- Create date range -->

Create a date range

In [30]:
end_date = dt.datetime.now()
start_date = dt.datetime(1900, 1, 1)

<!-- Connect to S&P500 API from RapidAPI -->

Pull S&P500 data using API from rapidapi.com

In [31]:
url = "https://s-p-500-history-api.p.rapidapi.com/historical-stock-data.php"

querystring = {"interval":"day","symbol":"^GSPC","start":start_date,"end":end_date}

headers = {
	"x-rapidapi-key": "1818711435msh7ff1e71cfe61ec4p1b64e1jsn32c289b7a487",
	"x-rapidapi-host": "s-p-500-history-api.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

<!-- Extract the 'data' dictionary from the response -->

Extract data from json file

In [32]:
response_json = json.loads(response.text)
sp = pd.DataFrame(response_json['data'])
sp.head()

,date_time,timestamp,high,low,close,open,volume,adjusted_close
0,"December 30, 1927, 2:30 PM UTC",-1325583000,17.660000,17.660000,17.660000,17.660000,0,17.660000
1,"January 3, 1928, 2:30 PM UTC",-1325237400,17.760000,17.760000,17.760000,17.760000,0,17.760000
2,"January 4, 1928, 2:30 PM UTC",-1325151000,17.719999,17.719999,17.719999,17.719999,0,17.719999
3,"January 5, 1928, 2:30 PM UTC",-1325064600,17.549999,17.549999,17.549999,17.549999,0,17.549999
4,"January 6, 1928, 2:30 PM UTC",-1324978200,17.660000,17.660000,17.660000,17.660000,0,17.660000

<!-- Drop all volume entries = 0 -->

Some of the data is missing the data from the 'volume' column. I will drop these rows.

In [33]:
sp = sp[sp['volume']!=0]
sp = sp.reset_index(drop=True)
sp

,date_time,timestamp,high,low,close,open,volume,adjusted_close
0,"January 3, 1950, 2:30 PM UTC",-630927000,16.660000,16.660000,16.660000,16.660000,1260000,16.660000
1,"January 4, 1950, 2:30 PM UTC",-630840600,16.850000,16.850000,16.850000,16.850000,1890000,16.850000
2,"January 5, 1950, 2:30 PM UTC",-630754200,16.930000,16.930000,16.930000,16.930000,2550000,16.930000
3,"January 6, 1950, 2:30 PM UTC",-630667800,16.980000,16.980000,16.980000,16.980000,2010000,16.980000
4,"January 9, 1950, 2:30 PM UTC",-630408600,17.080000,17.080000,17.080000,17.080000,2520000,17.080000
...,...,...,...,...,...,...,...,...
18928,"March 27, 2025, 1:30 PM UTC",1743082200,5732.279785,5670.939941,5693.310059,5695.640137,4403460000,5693.310059
18929,"March 28, 2025, 1:30 PM UTC",1743168600,5685.890137,5572.419922,5580.939941,5679.200195,4513330000,5580.939941
18930,"March 31, 2025, 1:30 PM UTC",1743427800,5627.560059,5488.729980,5611.850098,5527.910156,5257250000,5611.850098
18931,"April 1, 2025, 1:30 PM UTC",1743514200,5650.569824,5558.520020,5633.069824,5597.529785,4434500000,5633.069824
18932,"April 2, 2025, 6:34 PM UTC",1743618896,5695.310059,5571.479980,5641.819824,5580.759766,1628674000,5641.819824

Drop 'timestamp' and 'adjusted close' columns

In [34]:
sp.drop(columns=['timestamp','adjusted_close'], inplace=True, axis=1)

In [35]:
# Below is attempt at using FRED website API to pull data. I'm going to use batch downloads instead, but keeping this code in case that changes.

In [36]:
# URL_BASE = 'https://api.stlouisfed.org/'
# ENDPOINT = 'fred/series/observations'

# URL = URL_BASE + ENDPOINT

# API_KEY = '9de274aca217f6c8787ddb88fbcf323c'
# INDICATORS = 'T10Y2Y'

# params = {
#     'api_key': API_KEY,
#     'series_id': INDICATOR,
#     'file_type': 'json',
#     'observation_start': start_date,
#     'observation_end': end_date
# }

# requests = requests.get(URL, params=params)
# data = res.json()
# data = data['observations']

In [37]:
# URL_BASE = 'https://api.stlouisfed.org/'
# ENDPOINT = 'fred/series/observations'

# URL = URL_BASE + ENDPOINT

# API_KEY = '9de274aca217f6c8787ddb88fbcf323c'
# INDICATORS = ['T10Y2Y','FEDFUNDS']

# params = {
#     'api_key': API_KEY,
#     'series_id': INDICATOR,
#     'file_type': 'json',
#     'observation_start': start_date,
#     'observation_end': end_date,
#     'frequency': 'd'
# }

# requests = requests.get(URL, params=params)
# data = res.json()
# data = data['observations']